{% assign certification = site.data.data.certification %}
{% if certification %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-check fa-stack-1x fa-inverse"></i>
    </span>
    {{ certification.title }}
  </h2>

  {% if certification.intro %}
  <div class="intro">
      <p>{{ certification.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for certification in certification.assignments %}
    <div class="item">

      <span class="project-title">
        {% if certification.link %}
        <a href="{{ certification.link }}" target="_blank">{{ certification.title }}</a>
        {% else %}
        {{ certification.title }}
        {% endif %}
      </span>

      <div class="meta">

        <div class="upper-row">
          {% if certification.tagline %}
           <span class="time">{{ certification.tagline }}</span>
          {% endif %}
        </div><!--//upper-row-->
  
      </div><!--//meta-->
    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
